body {
    background-color: #1A2C4C;
}

/*h1-h2...*/
h1,h2 {
    color: #EE4A7B;
    font-family: "Source Serif Pro";
    font-weight: 600;
}

.lead {
    font-weight: 600;
    color: #1A2C4C;
}

/*Buttons*/
.btn-primary {
    background-color: #EE4A7B;
    border-color: #EE4A7B;
}

.btn-primary:hover {
    background-color: #c62454;
    border-color: #c62454;
}

.btn-info {
    background-color: #1A2C4C;
    border-color: #1A2C4C;
}

.btn-info:hover {
    background-color: #16366e;
    border-color: #1A2C4C;
}

.btn-almada {
    margin-top: 41px;
    margin-bottom: 28px;
}

/*End buttons*/



.bg-grancalzada {
    background-color: #EE4A7B;
}

.dropdown-menu {
    background-color: #EE4A7B !important;
    border-color: #fff !important;  
    border-width: 2px;
}

.dropdown-menu a{
    color: #fff !important;
}

 .dropdown-menu  a:hover {
    color: #fff !important;
    background-color: #1A2C4C !important;
}

.pad {
    padding-right: 10px;
}





.fa-whatsapp-square {
    font-size: 43px;
    color: #1A2C4C;
}

.fa-whatsapp-square:hover {
    color: #16366e;
}

.hubspot {
    padding: 10px;
}

.ubis {
    color: #fff;
    font-size: 12px;
}


#carrusel {
    margin-top: 75px;
    background-color: #1A2C4C;
}

.info {
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.title-lead {
    padding-top: 10px;
}

#introduccion {
    margin-top: 50px;
    margin-bottom: 50px;
}

.txt-calzada {
    padding: 65px;
}

#beneficios {
    margin-bottom: 40px;
}
.space {
    margin-top: 30px;
    padding-left: 170px;
    padding-right: 170px;
} @media (max-width: 800px) {
    .space {
        padding: 10px;
    }
}

.ubicacion {
    margin-top: 0px;
    height: 239px;
    width: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/ubicacion-1.png);
    background-repeat: no-repeat;
    border-radius: 20px;
}  
.ubicacion:before {
    content: "";
    width: 100%;
    height: 239px;
    width: 391px;
    position: absolute;
    top: 0;
    left: 0;
    

    background: linear-gradient(90deg, #EE4A7B, #EE4A7B);
    opacity: 0.5;
    border-radius: 20px;
    
} 

.ubicacion p {
    color: #fff;
    text-align: center;
    position: absolute;
    font-weight: 500;
    z-index: 1;

}

.elemento {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 12px;
    font-size: 20px;
    color: #fff;
}

#desarrollos {
    margin-top: 70px;
    margin-bottom: 50px;
}

.desarrollos {
    padding-left: 120px;
    padding-right: 120px;
}

.bg-almada {
    background-color: #51488B;
    padding-left: 20px;
    padding-right: 20px;
}

.bg-miraverde {
    background-color: #215A36;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}



footer {
    background-color: #EE4A7B;
} 



