@font-face {
    font-family: 'Avenir-regular';
    src: url(/fonts/Avenir/Avenir-regular.otf);
}

@font-face {
    font-family: 'Avenir-semibold';
    src: url(/fonts/Avenir/Avenir-semibold.otf);
}

@font-face {
    font-family: 'Avenir-bold';
    src: url(/fonts/Avenir/Avenir-bold.otf);
}

body {
    background-color: #1A2C4C;

}



/*h1-h2...*/
h1,h2 {
    color: #EE4A7B;
    font-family: "Source Serif Pro";
    font-weight: 600;
}

h3 {
    color: #1A2C4C;
    font-family: "Source Serif Pro";
    font-weight: 600;
}

h5 {
    font-size: 2.3em;
    color: #1A2C4C;
}

.lead {
    font-weight: 600;
    color: #1A2C4C;
}

/*Buttons*/
.btn-primary {
    background-color: #EE4A7B;
    border-color: #EE4A7B;
    border-radius: 0 !important;
}

.btn-primary:hover {
    background-color: #c62454;
    border-color: #c62454;
}

.btn-light {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0 !important;
    background-color: #EE4A7B;
    border-color: #EE4A7B;
    color: #fff;
}

.btn-light:hover {
    color: #fff;
    background-color: #16366e;
    border-color: #1A2C4C;
}

.btn-almada {
    margin-top: 41px;
    margin-bottom: 28px;
}
.btn-dark {
    border-radius: 0;
}

.btn-success {
    background-color: #51488B;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 0 !important;
}

.btn-success:hover {
    background-color: #EE4A7B;
   ;
}

.btn-info {
    background-color: #215A36;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 0 !important;
}

.btn-info:hover {
    background-color: #F8B3A2;

}
.btn-warning {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0 !important;
    background-color: #EE4A7B;
    border-color: #EE4A7B;
    color: #fff;
}

.btn-warning:hover {
    color: #fff;
    background-color: #16366e;
    border-color: #1A2C4C;
}

.botones-modelos {
    position: relative;
    left: 36px;

} @media (max-width:700px){
   .botones-modelos {
    left: auto;
    margin: 30px;
   }
}

.btn-secondary {
    background-color: #F8B3A2;
    color: #51488B;
    font-family: 'Avenir-regular';
    font-size: 14px;
    padding-left: 60px !important;
    padding-right: 60px !important;
}
.m-recorrido {
    margin-top: 80px;
}

/*End buttons*/


.nav-link {
    color: #16366e !important;

}


.bg-grancalzada {
    background-color: #e7e7e7;
}

.dropdown-menu {
    background-color: #e7e7e7 !important;

}



 .dropdown-menu  a:hover {
    color: #fff !important;
    background-color: #EE4A7B!important;
}

.pad {
    padding-right: 10px;
}

#index {
    background-color: #e7e7e7;
}



video {
    max-height: 80vh;
    width: 100%;
    height:auto;
   /** object-fit: fill; **/
    background-color: #e7e7e7;
}

.video {
    padding-top: 80px;
}
header h3 {
    color: #16366e;
}
.light {
    font-size: 28px;
    font-weight: 200;
}

hr {
    height: 3px;
    width: 50%;
    background-color: #16366e;
}

.whatsapp {
    font-size: 28px;
    color: #EE4A7B;
}

.whatsapp:hover {
    color: #16366e;
}



.plantas {
    position: absolute;
    top: 50px;
    right: -230px;
}

.txt-calzada {
    padding: 65px;
} @media (max-width: 700px) {
    .txt-calzada {
        padding: 30px;
        text-align: justify;
    }

}

.txt-calzada h2 {
    font-size: 2.5em;
} @media (max-width:700px) {
    .txt-calzada h2 {
        font-size: 2em;
    }
}

.txt-calzada p {
    font-size: 20px;
}

.space-1 {
    padding-top: 20px;
    padding-left: 170px;
    padding-right: 170px;
}

#desarrollos {
    padding-top: 70px;
    padding-bottom: 50px;
    background-image: url(/img/patron-index.svg);
    background-position: center;
    background-size: cover;
    background-color: #e7e7e7;
}

.gran-calzada-2 {
    font-size: 2.8em ;
}
.gran-calzada-3 {
    font-size: 1.4em ;
}
.registrada {
    position: relative;
    top: -20px;
    font-size: .4em;
}
.signo-1 {
    font-size: 1.4em;
} @media (max-width:700px) {
    .gran-calzada-2 {
        font-size: 2.1em ;
    }
    .gran-calzada-3 {
        font-size: 1.4em ;
    }
    .registrada {
        position: relative;
        top: -20px;
        font-size: .4em;
    }
    .signo-1 {
        font-size: 1.4em;
    }
}



.titular-modelos {
    line-height: 40px;
    font-size: 2em;
} @media (max-width:700px) {
    .titular-modelos {
        font-size: 1.5em;
        line-height: 30px;
    }
}

.conoce {
    font-weight: 500;
    line-height: 75px;
}
.dos {
    font-size: 2.5em;
}

.desarrollos {
    padding-left: 120px;
    padding-right: 120px;
}@media (min-width: 700px) {
    .desarrollos {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.bg-almada {
    background-color: #51488B;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2);
}

.bg-miraverde {
    background-color: #215A36;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2);
}
.bg-miraverde-1 {
    background-color: #215A36;


}

.icon-position {
    position: relative;
    left: 30px;
}

.elemento {
    position: relative;
    right: 10px;
    text-align: left;
    align-items: left;
    padding-top: 25px;
    font-size: 15px;
    color: #fff;
}

#avances-de-obra {
    background-color:  #e7e7e7;
}

.altura {
    min-height: 160px;
}


.comunidad {
    padding-top: 45px;
    padding-left: 60px;
    color: #1A2C4C;
    font-size: 2em;
    font-weight: 300;

} @media (max-width: 700px){
    .comunidad {
        padding-top: 10px;
        font-size: 1.8em;
        padding-left: 0px;
    }
}
.gran {
    font-size: 2em;
    font-family: "Source Serif Pro";
    font-weight: 600;
}



.detalle {
    background-image: url(/img/detalles.svg);
    background-repeat: no-repeat;
    background-position: 180px 60px;
    background-size: 120px;
} @media (max-width:800px) {
    .detalle {
        background-size: 60px;
        background-position: 50px 30px;
    }
}

.avances {
    margin-top: 80px;
} @media (max-width:800px) {
    .avances {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

/******************** Gran Calzada ******************/

#sgran-calzada {
    padding-top: 90px;
    background-color: #e7e7e7;
}

.p-gc {
    padding-top: 50px;
    padding-bottom: 50px;
}

.espacio {
    min-height: 0px;

}

.conoce {
    font-family: 'Avenir-regular';
    font-size: 1em;
}

.conoce-1 {
    font-family: 'Avenir-regular';
    font-size: 2.1em;
}

.gran-1 {
    font-family: 'Avenir-semibold';
}

#conoce-los-desarrollos {
    background-color: #e7e7e7;
}

.bg-azul-index{
    padding-top: 140px;
    background-image: url(/img/fondo-1.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    min-height: 450px;
} @media(max-width:700px) {
    .bg-azul-index {
        background-image: url(/img/fondo-1-resp.svg);

    }
}

.bg-azul{
    background-color: #16366e;
    background-position: 0 250px;
}


.onda-s {
    background-color: #16366e;
}

#equipamiento {
    background-color: #16366e;

}

.equipamiento {
    background-image: url(/img/bg-grancalzada-1.svg);
    background-size: cover;
    background-position: center;
    min-height: 135px;
}
.espacio-equipamiento {
    padding-bottom: 90px;
    padding-left: 120px;
    padding-right: 120px;
} @media (max-width: 600px) {
    .espacio-equipamiento {
        padding-left: 0px;
        padding-right: 0px;
    }
}
.medalla {
    padding-top: 40px;
}

.equipamiento-h {
    font-size: 20px;
    color: #fff;
    font-family: 'Avenir-bold';
}

.electricidad {
    background-image: url(/img/icon/electricidad.svg);
    min-height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-out 0.2s;
}

.electricidad:hover {
    background-image: url(/img/icon/Electricidad2.svg);
    min-height: 202px;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.2s;
}

.planta-de-tratamiento {
    background-image: url(/img/icon/planta-1.svg);
    min-height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-out 0.2s;
}

.planta-de-tratamiento:hover {
    background-image: url(/img/icon/planta2.svg);
    min-height: 202px;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.2s;
}
.pozo {
    background-image: url(/img/icon/pozo.svg);
    min-height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-out 0.2s;
}

.pozo:hover {
    background-image: url(/img/icon/pozo2.svg);
    min-height: 202px;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.2s;
}
.drenaje {
    background-image: url(/img/icon/drenaje.svg);
    min-height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-out 0.2s;
}

.drenaje:hover {
    background-image: url(/img/icon/drenaje2.svg);
    min-height: 202px;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.2s;
}

.espacio-que-encontraras {
    padding-top: 80px;
    padding-left: 120px;
    padding-right: 120px;
} @media (max-width: 600px) {
    .espacio-que-encontraras {
        padding-left: 0px;
        padding-right: 0px;
    }
}
.que-encontraras {
    background-color: #e7e7e7;
}

.t-cercania {
    color: #16366e;
}
.equipamiento-g {
    font-size: 20px;
    color: #16366e;
    font-family: 'Avenir-bold';
}

.sp {
    padding-top: 11px;
}

.sp-1 {
    padding-top: 10px;
}
.sp-2 {
    padding-top: 13px;
}

#master-plan {
    background-color: #e7e7e7;
}

.u-almada {
    position: relative;
    top: 220px;
    left: 160px;
    animation: movimiento-u 6.5s linear infinite;
} @media (max-width:600px) {
    .u-almada {
        top: 140px;
        left: 190px;
    }
}


.u-miraverde {
    position: relative;
    right: 600px;
    top: 60px;
    animation: movimiento-m 5.5s linear infinite;
} @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1) {
    .u-miraverde {
        right: 440px;
        top: 30px;
    }
} @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 1) {
    .u-miraverde {
        right: 480px;
    }

}
@media (max-width:700px) {
    .u-miraverde {
        top: -20px;
        right: 290px;
    }
}

#desarrollos-gc {
    background-color: #e7e7e7;
} @media (max-width:700px) {
    #desarrollos-gc {
        padding-top: 30px;
    }
}

#respaldo-casitas {
    background-color: #e7e7e7;
    padding-top: 80px;
    padding-bottom: 80px;
}
.marco {
    border: 3px solid rgb(255, 175, 2);
}
.aire {
    padding-right: 170px;
    padding-left: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
} @media (max-width:700px) {
    .aire {
        padding: 20px;
    }
}
.casitas {
    position: relative;
    right: 32px;
}

.titulo-c {
    position: relative;
    top: 50px;
    left: 0px;

} @media (max-width:700px){
    .titulo-c {
        top: 0px;
        left: 0px !important;
        padding: 0px;

    }

}

p {
    font-family: 'Avenir-regular';
}

.casitas-h {
    font-family: 'Avenir-bold';
    color: #1A2C4C;
    padding-top: 20px;
    line-height: 25px;
}

.casitas-p {
    font-family: 'Avenir-regular';
    font-size: 18px;

} @media (max-width:700px) {
    .casitas-p {
        font-size: 11px;
        line-height: 16px;
    }
}

@media (max-width:700px) {
    .respaldo-h {
        font-size: 30px;
    }
}

.respaldo {
    margin-top: 65px;
}

#desarrollo-almada {
    background-color: #e7e7e7;
}

.sp-top {
    padding-top: 80px;
}

.almada-color {
    background-color: #51488B;
}

#almada-top {
    background-color: #e7e7e7;
}

.p-caract {
    padding-top: 28px;
    padding-right:130px;
    padding-left: 130px;
} @media (max-width:700px) {
    .p-caract {
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
    }
}

.perimetro {
    color: #e7e7e7;
}

.p-equipamiento {
    padding-top: 55px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 30px;
} @media (max-width:700px) {
    .p-equipamiento {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.par-equipamiento {
    font-family: 'Avenir-bold';
    color:#C3BBD0;
}


#disfruta-la-vida {
    background-color: #51488B;
}

.disfruta-titular {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    line-height: 20px;
}

.disfruta {
    color: #F8B3A2;
    font-family: 'Avenir-Regular';
    font-size: 1.8em;

}

.disfruta-color {
    color:#C3BBD0;
    font-size: 1.5em;
    font-family: 'Avenir-semibold';
}

#cotiza-tu-casa {
    background-color:#e7e7e7;
    padding-bottom: 100px;
}

.cotiza-color {
    text-align: center;
    font-family: 'Avenir-bold';
    font-size: 2.4em;
    color: #51488B;
    padding-top: 50px;
    padding-bottom: 40px;

}

.bg-cruzada {
    background-color: #fff;
    opacity: 84%;
    box-shadow: -10px 0px 10px -4px rgba(0, 0, 0, 0.2);
}
.t-mod {
    font-family: 'Avenir-semibold';
}
.izq {
    position: relative;
    left: 86px;
}
.der {
    position: relative;
    right: 50px;
}

.der p {
    font-size: 12px;
}

.p-desde {
    font-size: 17px;
    font-family: 'Avenir-semibold';
}

.espacio-bco {
    margin-bottom: 93px;
}
.espacio-bco-1 {
    margin-bottom: 92px;
}


/*Miraverde*/

.mv-color {
    background-color: #215A36;

}

.bg-mv {
    background-image: url(/img/miraverde/fondo-mv.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 462.65px;
    background-size: cover;
} @media (max-width:500px) {
    .bg-mv {
    background-image: url(/img/miraverde/Intersect.svg);
    background-repeat: no-repeat;
    background-size: cover;
    }

}

#disfruta-la-vida-en-miraverde {
    background-color: #215A36;
}

.titular-mv {
    text-align: center;
    color: #fff;
    font-family: 'Avenir-regular';

} @media (max-width:600px) {
    .titular-mv {
        font-size: 20px;
    }
}

.gran-mv {
    font-family: "Source Serif Pro";
    font-weight: 600;
    font-size: 1.8em;
}

.inner-titular {
    font-size: 1.6em !important;
}

.entorno-img {
    background-image: url(/img/miraverde/entorno-render.jpg);
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;

}


.entorno-p {
    padding-top: 15px;
    padding-bottom: 30px;
    font-family: 'Avenir-semibold';
    color: #fff;
    font-size: 20px;
    line-height: 20px;
} @media (max-width:600px) {
    .entorno-p {
        font-size: 18px;
    }
}

.entorno-sp {
    font-family: 'Avenir-regular';

}

.titular-mv-1 {
    padding-top: 30px;
    text-align: center;
    color: #fff;
    font-family: "Source Serif Pro";
    font-weight: 600;
    font-size: 1.5em;
}

.inner-titular-1 {
    font-family: 'Avenir-bold';
    font-size: 1.2em !important;
    color: #F8B3A2;
}

.izq-mv {
    position: relative;
    left: 56px;

}
.der-mv {
    position: relative;
    right: 30px;
    color: #215A36
}

.der-mv p {
    font-size: 12px;
}

.t-mod {
    font-family: 'Avenir-bold';
    font-size: 22px;
}

.espacio-bco-mv {
    margin-bottom: 99px;

}
.espacio-bco-mv-1 {
    margin-bottom: 90px;

}

.amenidades-r {
    font-size: 35px;
    font-family: 'Avenir-bold';
    text-align: left;
    color: #215A36;
    line-height: 38px;
} @media (max-width:700px) {
    .amenidades-r {
        text-align: center;
    }
}

.titular-mv-2 {
    padding-top: 90px;
    text-align: center;
    color: #fff;
    font-family: "Source Serif Pro";
    font-weight: 600;
    font-size: 2em;
}

.inner-titular-2 {
    font-family: 'Avenir-bold';
    font-size: 1em !important;
    color: #215A36;
}

.amenidades-en-mv {
    font-size: 18px;
    color: #215A36;
    font-family: 'Avenir-regular';

}@media (max-width: 700px) {
    .amenidades-en-mv {
        padding-top: 0px;
        position: relative;
        right: 25px;
    }
}

.icon-amenidades-mv {
    position: relative;
    left: 190px;
}@media (max-width: 700px) {
    .icon-amenidades-mv {
        left: 80px;
    }
}
.icon-amenidades-mv-1 {
    position: relative;
    left: 30px;
} @media (max-width: 700px) {
    .icon-amenidades-mv-1 {
        left: 80px;
    }
}

.p-amenidad-mv {
    position: relative;
    right: 170px;
    font-size: 18px;
    color: #215A36;
    font-family: 'Avenir-regular';
} @media (max-width:600px) {
    .p-amenidad-mv {
        right: 25px;
    }
}

#cabecera-modelos {
    padding-top: 100px;

}

.detalle-mv {
    padding-top: 20px;
    background-image: url(/img/miraverde/dots-02.svg);
    background-repeat: no-repeat;
    background-position: 430px -20px;
} @media (max-width:600px) {
    .detalle-mv {
        padding-top: 65px;
        background-position: 0 -43px;
    }
}
.detalle-mv-1 {
    background-image: url(/img/miraverde/entorno.svg);
    background-repeat: no-repeat;
    background-position: right;
} @media(max-width: 600px) {
    .detalle-mv-1 {
        background-position: 400px 80px;
    }
}


/*detalles de  modelos*/
.plantas-modelos {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(/img/miraverde/plantas-02.svg);
    background-repeat: no-repeat;
    background-position: right;
}

li {
    list-style: none;
    color: #fff;
}

.modelo-li {
    font-size: 1.8em;
    color: #fff;
    font-family: 'Avenir-bold';
}

.m-botones {
    margin-top: 40px;
    margin-bottom: 14px;
}

.izq-mod {
    position: relative;
    left: 96px;
}
.der-mod {
    position: relative;
    right: 40px;
}
.cotiza-color-1 {
    text-align: center;
    font-family: 'Avenir-bold';
    font-size: 2em;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 20px;


}

.espacio-bco-2 {
    padding-bottom: 121px;
}

.modal-content {
    border: none;

}

#lead-alm {
    background-color: #51488B;
    min-height: 100vh;
}


#lead-mv {
    background-color: #215A36;
    min-height: 100vh;
}
.fondo-vector {
    background-image: url(/public/img/miraverde/lead/fondo.svg);
    background-position: 200px 100px;
    background-repeat: no-repeat;
    min-height: 100px;

}

.centro {
    text-align: left;
} @media (max-width:700px) {
    .centro {
        text-align: center;
    }
}

.lead-espacio {
    padding-top: 40px;
}


.lead-position {
    position: relative;
    left: 80px;
} @media (max-width:700px) {
    .lead-position {
        left: auto;
    }
}

.f-hubspot {
    padding-left: 36px;
}

.bg-gracias {
    background-image: url(/img/typ.jpg);
    background-position: center;
    min-height: 419px;
}

.lead-espacio-1 {
    padding-top: 140px;
}

.typ-h {
    color: #fff;
    font-family: 'Avenir-semibold';

}

.typ-pos {
    position: relative;
    top: 150px;
}

.espacio-avances {
    padding-top: 120px;
    padding-bottom: 120px;
}

.avances-h {
    text-align: center;
    font-family: 'Avenir-bold';
}

#entradas {
    padding-bottom: 80px;
}

.card {
    background-color: #fff;
    border: none;
}

.categorias {
    font-family: 'Avenir-semibold';
    color: #EE4A7B;
}

.categorias-1 {
    color: #16366e;
    font-family: 'Avenir-regular';
}

.blog-titular {
    padding-top: 50px;
    padding-bottom: 30px;
}

.extracto {
    font-family: 'Avenir-regular';
    font-size: 10px;
}

.categoria-articulo-h {
    color: #000;
    position: relative;
    left: 15px;
    font-family: 'Avenir-bold';
    font-size: 18px;
}
.categoria-articulo {
    color: #000;
    position: relative;
    left: 15px;
}

/* Artiulos */


.content {
    padding-top: 80px;
}

.control-box h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.control-box {
	background-color: #fff;
}

.control-box .links {
	list-style: none;
	padding: 0;
	margin: 0;
}

.control-box li {
	margin-bottom: 10px;
}

.control-box li a {
	color: #aa1212;
	text-decoration: underline;
}

.content {
	margin-top: 20px;
}

.control-w {

    object-fit: cover;
}



.main-content p {
    font-family: 'Avenir-regular';
	font-size: 17px;
	color: #777;
	line-height: 29px;
	margin-bottom: 20px;
}

.main-content img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}


.compartir {
    text-align: right;
    font-family: 'Avenir-bold';
    color: #000;
    font-size: 10px;
} @media (max-width:600px) {
    .compartir {
        text-align: left;
    }
}

.redes-sociales {
    font-size: 18px;

} @media (max-width:600px) {
    .redes-sociales {
        margin-left: 10px;
    }
}

a {
    color: #000;
}

a:hover {
    color: #c62454;
}



.titular-de-blog {
    font-size: 36px;
    font-family: 'Avenir-bold';
}

.info-extracto {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

/**ANIMACIONES**/


@keyframes movimiento-u {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes movimiento-m {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Footer */

footer {
    background-color: #EE4A7B;
}

.icono {
    color: #fff;
    text-align: left;
    font-size: 24px;
}

.iframe {
    height: 250px;
    width: 100%;
}


.hubspot {
    padding: 10px;
}

.ubis a,
.ubis {
    color: #fff;
    font-family: 'Avenir-semibold';
    font-size: 14px;

}

.imagenes-center {
    text-align: center;
    padding-top: 70px;
} @media (max-width: 700px){
    .imagenes-center {
        padding-top: 0;
    }
}

/*Carousel*/


.carousel__anterior,
.carousel__siguiente {
    display: none;
}

.texto-carousel-1 {
    text-align: justify;
}





